* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #5e102b, #fb277f);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */

.card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
}

h2 {
    margin-bottom: 15px;
    color: #0f172a;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    text-align: left;
    font-size: 14px;
}

input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    transition: 0.3s;
}

input:focus {
    border-color: #2563eb;
    box-shadow: 0 0 8px rgba(37,99,235,0.5);
    outline: none;
}

/* BOTÃO */

button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #00c9b5;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1d4ed8;
    transform: scale(1.05);
}

/* RESULTADO */

#resultado {
    margin-top: 15px;
    background: #f1f5f9;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

#out-lucro {
    font-size: 20px;
}

.hidden {
    display: none;
}